@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Madimi One", sans-serif;
    text-align: center;
}
header{
        background-color: goldenrod;
        color:black;
        font-size: 40px;
        padding:32px;
        border-bottom: 5px solid darkred;
        font-weight: bold;
}
body{
        background-color: #252525;
        color: goldenrod;
        font-size: 25px;
}
:root{
        --cor:goldenrod;
        --subcor: lightgrey;
        --ultracor: darkred;
}
#box{
        padding:10px;
}
#box img{
        border-radius:50%;
        border: 5px solid var(--ultracor);
        margin-bottom: 10px;
}
#box h1{
        font-size: 30px;
        color: var(--cor);
}
#box h2{
        font-size:25px;
        color: var(--subcor);
}
#box h3{
        font-size:20px;
        color: var(--subcor);
}
.links a{
        color: var(--ultracor);
        font-size: 30px;
        margin: 10px;
}
.links a:hover{
        color: #252525;
        transition: 600ms;
        font-size: 45px;
}
#linksfooter a{
        color: var(--cor);
        font-size: 30px;
}
#linksfooter a:hover{
        color:var(--ultracor);
        transition: 600ms;
        font-size: 35px;
}